# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. Seaborn
5. TensorFlow


|Data Science Tools|
| --- |
| Anaconda |
| Jupyter Notebooks |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [8]:
a = (3*4)+5
print (a)

17

This will convert 200 minutes to hours by diving by 60

In [9]:
def hours(numberminutes):
    hour = numberminutes/60
    return hour
hours(200)

3.3333333333333335

**Objectives:**

* Summarize common tools and elements for Data Science
* Illustrate how Computational Notebook work
* List populas libraties and languajes for data science